<ol class="breadcrumb">
    {% if  breadcrumbs is defined %}
        {% for breadcrumb in breadcrumbs %}
            <li{% if loop.last %} class="active"{% endif %}>
                {% if breadcrumb.params is defined %}
                    <a href="{{ path(breadcrumb.path, breadcrumb.params) }}">{{ breadcrumb.anchor }}</a>
                {% else %}
                    <a href="{{ path(breadcrumb.path) }}">{{ breadcrumb.anchor }}</a>
                {% endif %}
            </li>
        {% endfor %}
    {% else %}
        <li class="active"><a href="#">No breadcrumbs</a></li>
    {% endif %}
</ol>