{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    <div class="row">
    	<div class="col-xs-12">
   			There are no posts, let's create some!!
   		</div>
   	</div>
{% endblock %}