label {
    width: 200px;
}
#post label {
    height: 50px;
    vertical-align: middle;
}
.bg-primary {
    padding: 4px;
    margin-bottom: 10px;
}

.navbar-nav li.active {
    background: #f5f5f5;
}

.thumbnail img {
    height: 200px;
}

.panel-table {
	display: table;
}

.panel-table .panel-row {
	display: table-row;
}

.panel-table .panel-row .panel-cell {
	width: 50%;
	display: table-cell;
}
