label {
    width: 200px;
}
#post label {
    height: 50px;
    vertical-align: middle;
}
.bg-primary {
    padding: 4px;
    margin-bottom: 10px;
}

.navbar-nav li.active {
    background: #f5f5f5;
}

.thumbnail img {
    height: 200px;
}

#comments h1 {
    font-size: 1.500em;
}

.comment {
    position: relative;
    border: 1px solid lightgray;
    padding: 2px 120px 2px 2px;
    margin-bottom: 5px;
}

.comment .comment-author {
    font-weight: bold;
}

.comment .comment-date {
    position: absolute;
    color: lightslategrey;
    font-style: italic;
    right: 5px;
    top: 2px;
}

#rating-form .form-control {
    margin-right:10px;
}
#rating-form label {
    width: auto;
    vertical-align: middle;
}

.order-menu {
    margin-bottom: 10px;
}