{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    <div class="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}